body {
	color: white;
	background-color: black;
	font-family: "Trebuchet MS", Tahoma, sans-serif;
}

table {
	width: 100%;
}

tr {
	width: 50%;
	height: 80px;
}

td {
	width: 50%;
	text-align: center;
	font-size: xxx-large;
	

}

#headerExecute {
	background-color:green;
}

#tagColumn {
	align:top;
}

.selected {
	background-color:white;
	color:black;
}

.unselected {
	background-color:black;
	color:white;
}

.back {
	font-size: small;
	padding-top: 20px;
	padding-bottom: 20px;
}